data
.DS_Store
.idea/

frontend/node_modules

ged-minio/target
ged-minio/HELP.md
ged-minio/!.mvn/wrapper/maven-wrapper.jar
ged-minio/!**/src/main/**
ged-minio/!**/src/test/**
ged-minio/.idea



backend-ms1/target
backend-ms1/HELP.md
backend-ms1/!.mvn/wrapper/maven-wrapper.jar
backend-ms1/!**/src/main/**
backend-ms1/!**/src/test/**
backend-ms1/.idea




